* {
  background-color: antiquewhite;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  color: rgb(0, 0, 88);
}

#chef {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 500px;
  border-radius: 75%;
}

ul {
  list-style-type: none;
  padding: 0%;
}

a {
  color: #58544d;
  background-color: transparent;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

.center {
  list-style-position: inside;
}